body {
  background-color: #959e61;
}

.gymsection {
  display: flex;
  align-items: center;
}
.fitness {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}
.gym {
  padding-top: 3%;
  margin-left: auto;
}
