body {
  background-color: #959e61;
}

.gymsection {
  display: flex;
  align-items: center;
}
.fitness {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}
.gym {
  padding-top: 3%;
  margin-left: auto;
}
.spa {
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.spaImg {
  height: 600px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.spaMessage {
  margin-right: auto;
}
.conference {
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.conferenceMsg {
  margin-left: auto;
}
.conferenceImg {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
}
.pool {
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.poolImg {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
}
.poolMsg {
  margin-right: auto;
}
.loungeImg {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 800px;
}
.lounge {
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.loungeMsg {
  margin-left: auto;
}
.rooms {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 7%;
}
.roomImg {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
}
.roomMsg {
  margin-right: auto;
}
