body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* tailwind configurations */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1cm;
  text-align: center;
  padding-right: 5cm;

 
}
img {
  height: 10cm;
  width: 20cm;
  align-self: center;
  padding-left: 6cm;
  size: 5cm;


}
button{
  background-color: rgb(218, 22, 133);
}
h2{
  padding-left: 10cm;
  font-size: 2cm;
  padding-top: 1cm;
  font-family: Georgia, 'Times New Roman', Times, serif
  
}

